<div class="container">
  <h1><u>Below is my Class Blog for Com 323</u></h1>
</div>
<br>
<br>

<div class="description">
  <p class="container">Hello! Welcome to my Blog for Com323</p>
  <p class="container">Below, you will find my Posts for the Class. Feel free to comment on any one of them!</p>
  <p class="container">You may also use any of the Links above which will tell you a litle more about me :)</p>
</div>

<button class="btn btn-success" *ngIf="loggedIn()">//TODO: Make click event for Create Post</button>

<h3 class="container">Posts</h3>

<!-- Accordion will hold the Post and Comment Entities -->
<accordion class="container">
  <div *ngFor="let post of posts">
    <accordion-group heading={{post.title}}>
      <p>{{post.postContent}}</p>
      <button class="btn btn-primary">Comment</button> <!--add event to modal-->
    </accordion-group>
  </div>
</accordion>

