<div class="container">

  <h3>Projects</h3>

  My Projects may be accessed on my GitHub: <a href="https://github.com/matthewlee686" class="git">here</a>
  <p> </p>

  <p> Languages used in Projects: </p>
  <ul>
    <li>Languages: Java / JEE, C++</li>
    <li>Web: JSON, JavaScript, Angular, HTML, CSS, Bootstrap</li>
    <li>Database: SQL, JPA, JDBC, JPQL</li>
    <li>APIs: RESTful, JSON</li>
    <li>Methodologies: TDD</li>
    <li>Frameworks: Spring Boot, Agile</li>
    <li>Configuration Management: Git</li>
  </ul>
</div>
