<div class="container">
  <h3 >About Me</h3>

  <div>
    <p> <p> As a Developer: </p> I began my journey with basic self-learning courses and doing some coding exercises online. I then joined Skill Distillery's Full-Stack Developer Program to gain a strong structured learning.

    <p> <p> As a Person: </p> I've always been interested in technology. Even at a young age, I always gravitated to the new shiny (and sometimes a bit dusty and used) hardware my family would bring home. From building computers to being an avid gamer and now to learning a Stack for Web Development, I live and breathe technology!

  </div>
