<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Matt Lee - Full-Stack Developer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Matthew Lee</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

    <hr>
    <div class="bodycolor">
    <h3>About Me</h3>

    <div class="aboutme">
      <p class="about"> <p class="parahead"> As a Developer: </p> I began my journey with basic self-learning courses and doing some coding exercises online. I then joined Skill Distillery's Full-Stack Developer Program to gain a strong structured learning.

      <p class="about"> <p class="parahead"> As a Person: </p> I've always been interested in technology. Even at a young age, I always gravitated to the new shiny (and sometimes a bit dusty and used) hardware my family would bring home. From building computers to being an avid gamer and now to learning a Stack for Web Development, I live and breathe technology!

    </div>
    <h3>Projects</h3>
      <p class="project"> <p class="parahead"> Projects: </p>
      My Projects may be accessed on my GitHub: <a href="https://github.com/matthewlee686" class="git">here</a>
      <p> </p>

      <p class="parahead"> Languages used in Projects: </p>
      <ul>
        <li> Java </li>
        <li> HTML/CSS </li>
        <li> C++ </li>
      </ul>

      <h3>Contact</h3>
      <p class="parahead"> Contact Information:</p>

      <table class="table table-bordered">
        <thead>
          <tr class="bg-primary">
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
          </tr>
        <thead>
        <tbody>
          <tr class="bg-info">
            <td scope="row"> 201-783-3809 </td>
            <td scope="row"> matthewlee686@gmail.com </td>
          </tr>
          <tr class="bg-info">
            <td scope="row">Test</td>
            <td scope="row">More Text</td>
          </tr>
        </tbody>
      </thead>
    </table>


      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
